# EditorConfig documentation: https://editorconfig.org

# top-most EditorConfig file
root = true

# Default settings
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# JavaScript and JSX
[*.{js,jsx}]
indent_size = 2
quote_type = single

# TypeScript and TSX
[*.{ts,tsx}]
indent_size = 2
quote_type = single

# Python
[*.py]
indent_size = 4

# JSON
[*.json]
indent_size = 2
quote_type = double

# YAML
[*.{yml,yaml}]
indent_size = 2
